{% block header %}
	<nav>
		<div class="logo-container">
			<twig:Icon icon="zetia" href="{{ path('app_index') }}"/>
			<div class="burger-icon" id="burger-icon">&#9776;</div>
		</div>
		{% block searchBar %}
			{# à remplacer par un vrai formulaire de recherche, peut-être écrit en TS #}
			<input>
		{% endblock %}
		<menu class="icons-container">

			{% if app.user %}
				<twig:Icon icon="user" href="{{ path('app_index') }}" alttext="Consulter votre profil" variant="round" color="purple"/>
				<twig:Icon icon="settings" href="{{ path('app_index') }}" variant="round" color="gray"/>
				<a href="{{ path('app_dashboard') }}" role="menuitem">Tableau de bord</a>
				<a href="{{ path('app_logout') }}" role="menuitem">Se déconnecter</a>
				<a href="{{ path('viewTasks') }}" role="menuitem">Vos tâches</a>
				<a href="{{ path('viewProjects') }}" role="menuitem">Vos projets</a>
			{% endif %}

		</menu>

	</nav>
{% endblock %}
