{% extends 'base.html.twig' %}

{% block title %}Création de compte
{% endblock %}

{% block main %}
<twig:HomeContainer title="Créer un compte">
	<twig:block name="extra"></twig:block>
	{{ include('app/form.html.twig', {'button_label': 'S\'inscrire', 'form': registrationForm}) }}
		{# {{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.usr_name) }}
		{{ form_row(registrationForm.usr_first_name) }}
		{{ form_row(registrationForm.usr_mail) }}
		{{ form_row(registrationForm.usr_password, {
            label: 'Password'
        }) }}
		{{ form_row(registrationForm.usr_role) }}

		<button type="submit" class="btn">Register</button>
		{{ form_end(registrationForm) }} #}
	</twig:HomeContainer>
{% endblock %}
