{% extends 'base.html.twig' %}

{% block title %}Inscription responsable{% endblock %}

{% block main %}
<div class="register-page">
  <div class="register-container">
    <div class="register-logo">'Z.</div>
    <h1>Inscription responsable</h1>
    
    {{ form_errors(registrationForm) }}
    
    {{ form_start(registrationForm, {'attr': {'class': 'register-form'}}) }}
      {{ form_row(registrationForm.usr_name, {
        'label': 'Nom :',
        'attr': {'placeholder': 'Votre nom'}
      }) }}
      {{ form_row(registrationForm.usr_first_name, {
        'label': 'Prénom :',
        'attr': {'placeholder': 'Votre prénom'}
      }) }}
      {{ form_row(registrationForm.usr_mail, {
        'label': 'Email :',
        'attr': {'placeholder': 'Votre adresse email'}
      }) }}
      {{ form_row(registrationForm.usr_password, {
        'label': 'Mot de passe :',
        'attr': {'placeholder': 'Votre mot de passe'}
      }) }}
      
      {{ form_row(registrationForm.usr_role, {
        'label': 'Rôle :',
        'attr': {'class': 'role-select'}
      }) }}
      
      <button type="submit" class="btn-register">Inscription</button>
    {{ form_end(registrationForm) }}
    
    <div class="login-link">
      <a href="{{ path('app_login') }}">Connexion</a>
    </div>
  </div>
</div>
{% endblock %}