{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block main %}
    <h1>Task index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>titre</th>
                <th>Date de Debut</th>
                <th>Date de Fin Previsionnelle</th>
                <th>Date de Fin Reelle</th>
                <th>Description</th>
                <th>Duree</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.tskId }}</td>
                <td>{{ task.tskTitle }}</td>
                <td>{{ task.tskDateDebut ? task.tskDateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ task.tskDateFinPrevisionnelle ? task.tskDateFinPrevisionnelle|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ task.tskDateFinReelle ? task.tskDateFinReelle|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ task.tskDescription }}</td>
                <td>{{ task.tskDuree }}</td>
                <td>{{ task.pctId }}</td>
                <td>{{ task.stkId }}</td>
                <td>
                    <a href="{{ path('app_task_show', {'tskId': task.tskId}) }}">show</a>
                    <a href="{{ path('app_task_edit', {'tskId': task.tskId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_task_new') }}">Create new</a>
{% endblock %}
