{% extends 'base.html.twig' %}

{% block title %}Tâche
{% endblock %}

{% block main %}
	<twig:HomeContainer title="Détails de tâche">
		<twig:block name="extra">
			<a href="{{ path('viewTasks') }}">Retour à la liste</a>

			<a href="{{ path('editTask', {'tskId': task.tskId}) }}">Éditer</a>

			{{ include('task/_delete_form.html.twig') }}
		</twig:block>

		<table class="table">
			<tbody>
				<tr>
					<td>{{ task.tskId }}</td>
				</tr>
				<tr>
					<th>Titre</th>
					<td>{{ task.tskTitle }}</td>
				</tr>
				<tr>
					<th>Date de Debut</th>
					<td>{{ task.tskDateDebut ? task.tskDateDebut|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>Date de Fin Previsionnelle</th>
					<td>{{ task.tskDateFinPrevisionnelle ? task.tskDateFinPrevisionnelle|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>Date de Fin Réelle</th>
					<td>{{ task.tskDateFinReelle ? task.tskDateFinReelle|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ task.tskDescription }}</td>
				</tr>
				<tr>
					<th>Statut</th>
					<td>{{ task.tskStatus.stkTitle }}</td>
				</tr>
				<tr>
					<th>Durée</th>
					<td>{{ task.tskDuree }}</td>
				</tr>
			</tbody>
		</table>
	</twig:HomeContainer>
{% endblock %}
