<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% if title is defined %}{{ title }} ‑ Zetia Planning{% else %}Zetia Planning{% endif %}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {% endblock %}
    {% block javascripts %}
        <script defer src="https://kit.fontawesome.com/bee1a8a770.js" crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>
    {% if app.user %}
        <aside class="sidebar">
            <div class="logo">.Z</div>
            <nav>
                <ul>
                    <li class="active"><a href="{{ path('app_dashboard') }}"><i class="fas fa-clock"></i></a></li>
                    <li><a href="{{ path('ViewProject') }}"><i class="fas fa-clipboard-list"></i></a></li>
                    <li><a href="{{ path('ViewTask') }}"><i class="fas fa-lightbulb"></i></a></li>
                    <li><a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i></a></li>
                </ul>
            </nav>
        </aside>
    {% endif %}

    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>
</html>
