{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {# Example stylesheet inclusion #}
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                {% if app.user %}
                    <li><a href="{{ path('app_dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ path('app_logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ path('security_login') }}">Login</a></li>
                    <li><a href="{{ path('app_register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>

        {% block body %}{% endblock %}

        {% block javascripts %}
            {# Example script inclusion #}
            <script src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
