{% set zetia_button %}
<button {{ attributes.defaults({class: 'zetia-button zetia-button-' ~ type ~ ' zetia-button-' ~ variant} ) }}>
	{{ text }}
</button>
{% endset %}

{% if href is defined %}
	<a href="{{ href }}">{{ zetia_button }}</a>
{% else %}
	{{ zetia_button }}
{% endif %}
