{% set zetia_button %}
<button {{ attributes.defaults({class: 'zetia-button zetia-button-' ~ variant ~ ' ' ~ size} ) }}>
	{% block content %}
		{{ text }}
	{% endblock %}
</button>
{% endset %}

{% if href is defined %}
	<a href="{{ href }}" class="{{ size }}">{{ zetia_button }}</a>
{% else %}
	{{ zetia_button }}
{% endif %}
