{% extends 'base.html.twig' %}

{% block main %}
<div class="dashboard">
 

    <div class="main-content">
        <header>
            <div class="search-bar">
                <input type="text" placeholder="Rechercher">
                <button><i class="fas fa-search"></i></button>
            </div>
            <div class="user-settings">
            <img src="{{ asset('path/to/avatar.jpg') }}" alt="User Avatar" class="user-avatar">
            <div class="settings"><i class="fas fa-cog"></i></div>
            </div>
        </header>

          <section class="projects">
        {% for project in projects %}
            <div class="project">
            
                <div class="icon"><i class="fas fa-folder"></i></div>
                <h3>{{ project.pctTitle }}</h3>
            </div>
        {% endfor %}
    </section>

        <section class="statistics">
            <!-- Statistiques ici -->
        </section>

        <section class="tasks">
            <h2>Tâches par projets</h2>
          <div class="tabs">
  {% for project in projects %}
    <button {% if loop.first %}class="active" {% endif %}><a href="{{ path('ViewProject') }}">{{ project.pctTitle }}</a></button>
  {% endfor %}
</div>
            <table class="task-table">
                <thead>
                    <tr>
                        <th>Noms</th>
                        <th>Date de début</th>
                        <th>Date de fin</th>
                        <th>Assignation</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.tskTitle }}</td>
                            <td>{{ task.tskDateDebut|date('d/m/Y') }}</td>
                            <td>{{ task.tskDateFinPrevisionnelle|date('d/m/Y') }}</td>
                            <td>
                                {% for user in task.users %}
                                    <div class="icon"><i class="fas fa-user"></i> {{ user.usrName }}</div>
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{{ path('ViewTask', {'tskId': task.tskId}) }}"><i class="fas fa-eye"></i></a>
                                <a href="{{ path('editTask', {'tskId': task.tskId}) }}"><i class="fas fa-edit"></i></a>
                                <a href="{{ path('deleteTask', {'tskId': task.tskId}) }}"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
</div>
{% endblock %}
